<a href="https://colab.research.google.com/github/anqi-guo/udacity-dsnd-blog-post/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
from google.colab import drive
drive.mount('/content/drive')
DATA_PATH = '/content/drive/My Drive/study/DSND/airbnb'

import pandas as pd
df_ny = pd.read_csv(f'{DATA_PATH}/data/calendar-202112.csv')

df_ny['date'] = pd.to_datetime(df_ny['date'])
df_ny['date'].max(), df_ny['date'].min()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

(Timestamp('2022-12-04 00:00:00'), Timestamp('2021-12-04 00:00:00'))

In [26]:
df_sh = pd.read_csv(f'{DATA_PATH}/data/calendar-202112-sh.csv')

df_sh['date'] = pd.to_datetime(df_sh['date'])
df_sh['date'].max(), df_sh['date'].min()

(Timestamp('2022-12-24 00:00:00'), Timestamp('2021-12-24 00:00:00'))

In [28]:
df_sh.columns

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [29]:
df_ny.columns

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [30]:
df_sh.shape, df_ny.shape

((10645228, 7), (13964535, 7))

In [13]:
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2595,2022-03-05,t,$150.00,$150.00,30,1125
1,2595,2022-03-06,t,$150.00,$150.00,30,1125
2,2595,2022-03-07,t,$150.00,$150.00,30,1125
3,2595,2022-03-08,t,$150.00,$150.00,30,1125
4,2595,2022-03-09,t,$150.00,$150.00,30,1125

In [14]:
calendar.dtypes

listing_id         int64
date              object
available         object
price             object
adjusted_price    object
minimum_nights     int64
maximum_nights     int64
dtype: object

In [15]:
calendar['date'] = pd.to_datetime(calendar['date'])

In [17]:
calendar['date'].min()

Timestamp('2022-03-05 00:00:00')

In [18]:
calendar['date'].max()

Timestamp('2023-03-30 00:00:00')